* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchResultContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.searchResultItem {
  display: flex;
  background-color: aliceblue;
  width: 500px;
  padding: 2em;
  flex-direction: column;
  border-radius: 2em;
  text-align: left;

}

.searchResultItem h3 {
  color: blue;
}

.searchResultItem__text {
}